img{
  padding: 2px;
}

#deck {
  width: 988px;
}

#holding{
  width: 76px;
  height: 106px;
  background: blueviolet;
  display: inline-block;
}

.card{
  display: inline-block;
}

.sorted{
  background-color: darkgreen;
}

.selected {
  background-color: yellow;
}