img{
  padding: 2px;
}

#deck {
  width: 988px;
}

.card{
  display: inline-block;
}

.sorted{
  background-color: darkgreen;
}

.shuffled{
  background-color: orangered;
}

.selected {
  background-color: yellow;
}